# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# .gitignore history version
.gitignore2

# .dockerignore history version
.dockerignore2

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
# 通常會包含 .spec 檔案和打包暫存目錄
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Pycharm / VSCode / IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

